---
import { readAll } from "../lib/markdoc/read";
import { chapter } from "../lib/markdoc/frontmatter.schema";
import ChaptersCard from "./ChaptersCard.astro";

const posts = await readAll({
  directory: "chapters-es",
  frontmatterSchema: chapter,
});
---

<section slot="main">
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5 auto-rows-fr">
    {posts.map((post) => {
      if (post.frontmatter.wip) {
        return <ChaptersCard chapter={post} />;
      }
      return (
        <a class="unset" href={`/capitulos/${post.slug}`}>
          <ChaptersCard chapter={post} />
        </a>
      );
    })}
  </div>
</section>
