---

---

<footer class="mt-4 text-sm leading-[1.75]">
  <div>Handbook crafted with ❤️ in A Coruña (Spain)</div>
</footer>

<style>
  footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
