---
import Nav from "./Nav.astro";
import DarkModeToggle from "./DarkModeToggle.astro";
---

<header class="">
  <a
    class="unset absolute left-[50%] -top-[100rem] z-10 translate-x-[-50%] bg-white px-8 py-2 text-black focus:top-[initial]"
    href="#main"
  >
    Skip to content
  </a>
  <Nav />
  <div
    class="flex content-center items-center gap-2 justify-self-end py-2 text-text-bold"
  >
    <a
      class="unset ml-4 rounded-sm bg-gradient-to-r from-primary-yellow to-primary-yellow bg-[length:0%_55%] bg-left-bottom bg-no-repeat transition-[background-size] duration-150 ease-in-out hover:bg-[length:100%_55%] dark:bg-none dark:hover:text-primary-yellow"
      href="https://github.com/juanoa/frontend-handbook"
      target="_blank"
    >
      <i
        class="fa-brands fa-github"
        aria-hidden="true"
        title="This repo on GitHub"></i>
      <span class="hidden md:inline">GitHub</span>
    </a>
    <a
      class="unset ml-4 rounded-sm bg-gradient-to-r from-primary-blue to-primary-blue bg-[length:0%_55%] bg-left-bottom bg-no-repeat transition-[background-size] duration-150 hover:bg-[length:100%_55%] dark:bg-none dark:hover:text-primary-blue"
      href="https://x.com/juanoa_"
      target="_blank"
    >
      <i
        class="fa-brands fa-x-twitter"
        aria-hidden="true"
        title="Juan on Twitter"></i>
      <span class="hidden md:inline">Twitter</span>
    </a>
  </div>
  <DarkModeToggle />
</header>
<style>
  header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(
        0,
        max-content
      );
  }
</style>
