---

---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="overflow-hidden pt-4 pb-2 text-center text-3xl font-bold text-text-heading md:text-5xl"
    >
      <span
        class="bg-gradient-to-bl from-primary-blue to-primary-blue bg-[length:90%_40%] bg-bottom bg-no-repeat dark:from-primary-blue dark:to-primary-blue"
      >
        Frontend Engineer Handbook
      </span>
    </h1>
    <p class="py-4 text-center text-lg md:text-xl">
      Un manual opinionado de cómo trabajar en frontend
    </p>
  </div>
</section>
